<% @page_heading = _('New article') %>

<%= render "admin/shared/edit", { :form_type => "article", :form_action => { :action => "new", :id => @article.id , :class => ('autosave')} } %>

<% if current_user and current_user.profile and current_user.profile.label == 'admin' %>
<h1>Merge Articles</h1>
<%= form_tag('/admin/content/merge/'+@article.id.to_s, method: :post) %>
Article ID <%= text_field_tag 'other_article_id' %>
</br>
<%= submit_tag 'Merge' %>
<% end %>

